# sqlite3 활용

## 접속

In [1]:
import sqlite3
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('select * from test;')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, '홍길동', None)
(2, '대조영', None)

In [2]:
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('select * from test;')
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, '홍길동', None)
(2, '대조영', None)

In [3]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()

In [5]:
# 테이블 구조 변경
sql = 'alter table test2 add column age integer;'
cur.execute(sql)

In [6]:
# 변경사항 저장
conn.commit()

## 데이터 추가

In [8]:
cur = conn.cursor()
sql = "insert into test2(name, age) values('장보고', 1000);"
cur.execute(sql)

In [9]:
conn.commit()

In [10]:
# 파라메터는 튜플로 전달
writers = [('이우정', 40), ('김은숙', 45)]
sql = "insert into test2(name, age) values(?, ?);"
for writer in writers:
    cur.execute(sql, writer)
conn.commit()

In [12]:
cur.execute(sql, ('김수현', 60))
conn.commit()

In [13]:
writers = [('노희경', 30), ('송지나', 35), ('임성한', 40)]
cur.executemany(sql, writers)
conn.commit()

## 데이터 조회

In [9]:
# 단건 조회
cur = conn.cursor()
select_sql = 'select * from test2;'
cur.execute(select_sql)
row = cur.fetchone()
print(row)

(1, '홍길동', None)

In [10]:
# 여러건 조회
rows = cur.fetchmany(3)
for row in rows:
    print(row)

(2, '대조영', None)
(None, '장보고', 1000)

In [11]:
rows = cur.fetchmany(2)
for row in rows:
    print(row)

In [12]:
rows = cur.fetchall()
for row in rows:
    print(row)

In [13]:
# 모두 조회
cur = conn.cursor()
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '홍길동', None)
(2, '대조영', None)
(None, '장보고', 1000)

In [14]:
# 순회 조회
cur = conn.cursor()
cur.execute(select_sql)
for row in cur:
    print(row)

(1, '홍길동', None)
(2, '대조영', None)
(None, '장보고', 1000)

In [15]:
# 필요한 컬럼만 조회
cur = conn.cursor()
cur.execute("select name, age from test order by name;")
rows = cur.fetchall()
for row in rows:
    print(row)

('대조영', None)
('홍길동', None)

In [16]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute("select * from test2 order by age desc, name limit 3;")
rows = cur.fetchall()
for row in rows:
    print(row)

(None, '장보고', 1000)
(2, '대조영', None)
(1, '홍길동', None)

In [17]:
# 함수
cur = conn.cursor()
cur.execute('select count(*) from test2;')
count = cur.fetchone()
print(count, count[0])

(3,) 3

In [18]:
count

(3,)

In [19]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test2;')
row = cur.fetchone()
print(row)

(1000, 1000, 1000, 1000.0)

In [23]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test2;')
max_age, min_age, sum_age, avg_age = cur.fetchone()
print(max_age, min_age, sum_age, avg_age)

1300 1000 2300 1150.0

## 검색

In [24]:
cur = conn.cursor()
cur.execute('select * from test2 where age < ?', (50,))
rows = cur.fetchall()
for row in rows:
    print(row)

## 데이터 변경

In [25]:
cur.execute('update test2 set age=1300 where id=2;')
conn.commit()

## 데이터 삭제

In [26]:
cur.execute('delete from test2 where id=6;')
conn.commit()