# 커피지수

In [12]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [13]:
df = pd.read_csv('커피업소정보.csv', encoding='euc-kr')
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080.0,6149.0,NaN,1,NaN,127.047883,37.505675
1,20020124,스완카페트,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1156013300106040056037792,NaN,서울특별시 영등포구 도신로10가길 11-1,150070.0,7379.0,NaN,2,NaN,126.897710,37.503693
2,19973708,왕실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1114012700101050000019781,NaN,서울특별시 중구 남대문로 52-13,100810.0,4535.0,NaN,1,NaN,126.982419,37.562274
3,20004707,커피빈,코리아교대점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1165010800116570005024412,카이스시스템빌딩,서울특별시 서초구 서초중앙로 118,137070.0,6634.0,NaN,1,NaN,127.014217,37.492388
4,19993199,고려대학교교육관쎄리오점,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1129012500100010002039525,고려대학교안암캠퍼스(인문사회계),서울특별시 성북구 안암로 145,136701.0,2841.0,NaN,1,32,127.031702,37.588485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93248,16309629,간단하지만특별한화피디Cafe,홍매뜨락마을,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4615010700100980004000001,NaN,전라남도 순천시 매곡2길 48-1,540948.0,57940.0,NaN,NaN,NaN,127.482852,34.959875
93249,16309593,투썸플레이스,전주평화점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4511113200107060007024618,자바데이브,전라북도 전주시 완산구 맏내3길 4,560844.0,55134.0,NaN,NaN,NaN,127.131685,35.792891
93250,16309552,투썸플레이스,서산테크노밸리점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4421036021110990000000001,NaN,충청남도 서산시 성연면 성연3로 57-7,356852.0,31931.0,NaN,NaN,NaN,126.449741,36.823623
93251,16308545,우리들이야기,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4615010700101390001075251,순복음사랑의교회,전라남도 순천시 매산길 26,540948.0,57940.0,NaN,NaN,NaN,127.482575,34.958675
93252,16306530,테이블웍스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4511114100106000001000003,NaN,전라북도 전주시 완산구 우전로 208,560800.0,55061.0,NaN,3.0,NaN,127.102077,35.812998

In [28]:
name1 = '상호명'.find_all('투썸플레이스')
name1

AttributeError: 'str' object has no attribute 'find_all'

NameError: name 'urlparse' is not defined